<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="base :: common_header">
</head>

<body>

<div th:replace="navbar :: navbar"></div>

<div class="container" id="form_container">
    <div class="well-sm">
        <p class="lead text-center">Add new product</p>
    </div>

    <form th:action="@{~/products/new}" method="post" onsubmit="checkForm(this.href); return false">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="product_name" class="form-control"/>
            <span id="name_length_error" style="display: none; color:red">This field can't be empty!</span>
        </div>

        <div class="form-group">
            <label for="desc">Description:</label>
            <textarea id="desc" name="product_desc" class="form-control" rows="3"></textarea>
            <span id="desc_length_error" style="display: none; color:red">This field can't be empty!</span>
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" min="1" step="any" id="price" name="product_price" class="form-control"/>
            <span id="price_length_error" style="display: none; color:red">This field can't be empty!</span>
        </div>

        <div class="form-group">
            <label for="category">Category:</label>
            <select id="category" name="product_category" class="form-control">
                <option th:each="category,iterStat : ${categories}" th:value="${category.getId()}"
                        th:text="${category.getName()}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="supplier">Supplier:</label>
            <select id="supplier" name="product_supplier" class="form-control">
                <option th:each="supplier,iterStat : ${suppliers}" th:value="${supplier.getId()}"
                        th:text="${supplier.getName()}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="image">Upload image:</label>
            <input type="file" id="image" name="product_image" class="form-control"/>
            <p class="help-block">Only jpg or png files</p>
        </div>
        <button type="submit" class="btn btn-default">Save</button>
    </form>
</div>
<div th:replace="footer :: copy"></div>
<script src="/main.js"></script>
</body>
</html>
