<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="base :: common_header">
</head>

<body>

<div th:replace="navbar :: navbar"></div>

<div class="text-center well-sm" th:if="${category}">
    <p class="lead" th:inline="text">
        [[${category.name}]] |
        [[${category.description}]] |
        [[${category.department}]]
    </p>
</div>
<div class="text-center well-sm" th:if="${supplier}">
    <p class="lead" th:inline="text">
        [[${supplier.name}]] |
        [[${supplier.description}]]
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div id="products" class="row list-group">
                <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products}">
                    <div class="thumbnail">
                        <img class="group list-group-image"
                             th:src="${prod.id==11} ? '/img/product_' + ${prod.id} + '.gif' : '/img/product_' + ${prod.id} + '.jpg'"
                             alt=""/>
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                            <p class="group inner list-group-item-text" th:text="${prod.description}">Product
                                description... </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <strong th:text="${prod.getPrice()}">100 USD</strong>
                                </div>
                                <div class="col-xs-12 col-md-8">
                                    <form th:action="'/products/'+${prod.id}+'/add_to_cart'" method="POST">
                                        <input type="number" name="amount" min="1" value="1"/>
                                        <button class="btn btn-success" type="submit">Add to cart</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div th:replace="basket_summary :: basket"></div>
        </div>
    </div>

</div>
<div th:replace="footer :: copy"></div>
<script src="main.js"></script>
</body>
</html>
