<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="basket">
    <div><a class="btn btn-primary" href="/basket">Basket</a></div>

    <ul class="list-group">
        <li th:each="item,iterStat : ${basket.getItems()}" class="list-group-item" th:inline="text">
            [[${item.getProduct().getName()}]]

            <span class="badge" th:text="${item.getQuantity()}">14</span>

        </li>
    </ul>
    <div class="well">
        <div th:text="'Products in basket '+${basket.getItems().size()}"></div>
        <div th:text="'Total quantity '+${basket.getTotalCount()}"></div>
        <div th:text="'Total value '+${basket.getTotalValue()} + ' ' + ${basket.getCurrency()}"></div>
    </div>
</div>
</body>
</html>